<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #pangolinForm="ngForm" (ngSubmit)="onSubmit(pangolinForm)">
              <input
                type="hidden"
                name="_id"
                #_id="ngModel"
                [(ngModel)]="pangolinService.selectedPangolin._id"
              />
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="Age"
                    #name="ngModel"
                    [(ngModel)]="pangolinService.selectedPangolin.age"
                    placeholder="age "
                    required
                  />
                  <label
                    >Age :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="famille"
                    #name="ngModel"
                    [(ngModel)]="pangolinService.selectedPangolin.famille"
                    placeholder="famille"
                  />
                  <label>Famille :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="race"
                    #name="ngModel"
                    [(ngModel)]="pangolinService.selectedPangolin.race"
                    placeholder="Race"
                  />
                  <label>Race :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="nourriture"
                    #name="ngModel"
                    [(ngModel)]="pangolinService.selectedPangolin.nourriture"
                    placeholder="Nourriture"
                  />
                  <label>Nourriture :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button
                    class="btn btn-custom right"
                    type="button"
                    (click)="resetForm(pangolinForm)"
                  >
                    Reset
                  </button>
                  <button
                    class="btn btn-custom right"
                    type="submit"
                    [disabled]="!pangolinForm.valid"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
            <table class="responsive-table higlight">
              <thead>
              <tr>
                <th>Age</th>
                <th>Famille</th>
                <th>race</th>
                <th>nourriture</th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let pan of pangolinService.pangolin">
              <td>{{ pan.age}}</td>
              <td>{{ pan.famille}}</td>
              <td>{{ pan.race}}</td>
              <td>{{ pan.nourriture}}</td>
              <td>
                <a class="action-btn">
                  <i class="material-icons" (click)="onEdit(pan)">Edit</i>
                </a>
                <a class="action-btn">
                  <i class="material-icons" (click)="onDelete(pan._id, pangolinForm)" >Delete</i>
                </a>
              </td>
            </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

